<h1>高鐵簡易查詢系統</h1>
<br>

<h5>依據起訖站以及日期，查詢車次時刻表（車次、發車時間、抵達時間）</h5>
<hr>
<thsr-search-time-table (search)=getTimeTableByData($event)></thsr-search-time-table>
<thsr-time-table *ngIf="showTimeTable" [timeTable]="timeTable"></thsr-time-table>
<br>

<h5>針對特定班次查詢停靠站</h5>
<hr>
<thsr-search-stops (search)=getStopsByTrainNo($event)></thsr-search-stops>
<ul>
    <li *ngFor="let stop of stops; index as i;">
        {{ stop.DepartureTime }} - {{ stop.StationName['Zh_tw'] }}
    </li>
</ul>
<br>

<h5>針對特定車站查詢目前是否有座位</h5>
<hr>
<thsr-search-available-seat (search)=getAvailableSeatByStationId($event)></thsr-search-available-seat>
<div *ngIf="showAvailableSeat">
    {{ availableSeat.text }}, 座位數 {{ availableSeat.number }} 個
</div>
