<h1>高鐵簡易查詢系統</h1>
<br>
<h5>依據起訖站以及日期，查詢車次時刻表（車次、發車時間、抵達時間）</h5>
<hr>
<form>
    <div class="form-group col-md-3">
        <label>起站</label>
        <input 
            [(ngModel)]="originStationId"
            name="originStationId"
            type="text"
            class="form-control"
            aria-describedby="originIdHelp">
        <small id="originIdHelp"
            class="form-text text-muted">
            起站：1000 (台北)
        </small>
    </div>
    <div class="form-group col-md-3">
        <label>迄站</label>
        <input 
            [(ngModel)]="destinationStationId"
            name="destinationStationId"
            type="text"
            class="form-control"
            aria-describedby="destinationIdHelp">
        <small id="destinationIdHelp"
            class="form-text text-muted">
            迄站：1050 (嘉義)
        </small>
    </div>
    <div class="form-group col-md-3">
        <label>日期</label>
        <input 
            [(ngModel)]="trainDate"
            name="trainDate"
            type="text"
            class="form-control"
            aria-describedby="trainDateHelp">
        <small id="trainDateHelp"
            class="form-text text-muted">
            日期：2020-04-30
        </small>
    </div>
    <button class="btn btn-primary" (click)="getTimeTableByData()">查詢車次時刻表</button>
</form>
<table *ngIf="showTimeTable" class="table">
    <thead>
      <tr>
        <th scope="col">車次</th>
        <th scope="col">出發時間</th>
        <th scope="col">抵達時間</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of timeTable; index as i;">
        <th scope="row">{{ item.trainNo }}</th>
        <td>{{ item.originStopDepartureTime }}</td>
        <td>{{ item.destinationStopArrivalTime }}</td>
      </tr>
    </tbody>
  </table>
<br>
<h5>針對特定班次查詢停靠站</h5>
<hr>
<form>
    <div class="form-group col-md-6">
        <label>針對特定班次查詢停靠站</label>
        <input 
            [(ngModel)]="trainNo"
            name="trainNo"
            type="text"
            class="form-control"
            aria-describedby="trainNoHelp">
        <small id="trainNoHelp" class="form-text text-muted">特定班次舉例：0618</small>
        <button class="btn btn-primary" (click)="getStopsByTrainNo()">查詢停靠站</button>
    </div>
</form>
<ul>
    <li *ngFor="let stop of stops; index as i;">
        {{ stop.DepartureTime }} - {{ stop.StationName['Zh_tw'] }}
    </li>
</ul>
<br>
<h5>針對特定車站查詢目前是否有座位</h5>
<hr>
<form>
    <div class="form-group col-md-6">
        <label>針對特定車站查詢目前是否有座位</label>
        <input 
            [(ngModel)]="stationId"
            name="stationId"
            type="text"
            class="form-control"
            aria-describedby="stationIdHelp">
        <small id="stationIdHelp" class="form-text text-muted">特定車站舉例：1000 (台北)</small>
        <button class="btn btn-primary" (click)="getAvailableSeatByStationId()">查詢是否有座位</button>
    </div>
</form>
<div *ngIf="showAvailableSeat">
    {{ availableSeat.text }}, 座位數 {{ availableSeat.number }} 個
</div>
